body{
    background: darkgray;
}

div.col {
    width: 20px;
    height: 20px;
    background: #00000026;
    margin: 1px;
}


div.row {
    display: flex;
}

div.boxFixed {
    background: #911b42;
}

div.col.square {
    background: #2b4dd5;
}
div.col.line {
    background: #248321;
}

div.t {
    background: #7211cc;
}

div.l {
    background: #1dcc11;
}

